    <header class="header target">
            <img src="/images/home.jpg" alt="background">
            <h1>Tıp Fakültesi <br> Ders Notları</h1>
            <i class="fa-solid fa-staff-snake"></i>
    </header>