    <div class="error-page-container">
        <div class="circle-container">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
        <h1 class="error-code">404</h1>
        <p class="error-message">We can't seem to find the page you're looking for.</p>
        <a href="/" class="home-button">Return to Homepage</a>
    </div>