    {{>header}}

    <div class="home">
        <div class="row">


            {{!-- <div class="card" data-year="1">
                <h2>1. Sınıf</h2>
                <p><br>Bu sınıf için ders içeriği yüklenmedi!</p>
            </div>
            <div class="card" data-year="2">
                <h2>2. Sınıf</h2>
                <!-- Komite başlıkları -->
                <div class="committees">
                    <div class="committee" data-committee="1">Komite 1</div>
                    <div class="committee" data-committee="2">Komite 2</div>
                    <div class="committee" data-committee="3">Komite 3</div>
                    <div class="committee" data-committee="4">Komite 4</div>
                    <div class="committee" data-committee="5">Komite 5</div>
                </div>

                <!-- Ders başlıkları -->
                <div class="courses hidden" id="committee-1">
                    <ul>
                        <li data-course="Anatomi">Anatomi</li>
                        <li data-course="Fizyoloji">Fizyoloji</li>
                        <li data-course="Histoloji ve Embriyoloji">Histoloji ve Embriyoloji</li>
                        <li data-course="Biyokimya">Biyokimya</li>
                        <li data-course="Biyofizik">Biyofizik</li>
                    </ul>
                </div>

                <div class="courses hidden" id="committee-2">
                    <ul>
                        <li data-course="Anatomi">Anatomi</li>
                        <li data-course="Fizyoloji">Fizyoloji</li>
                        <li data-course="Histoloji ve Embriyoloji">Histoloji ve Embriyoloji</li>
                        <li data-course="Biyokimya">Biyokimya</li>
                        <li data-course="Biyofizik">Biyofizik</li>
                    </ul>
                </div>

                <div class="courses hidden" id="committee-3">
                    <ul>
                        <li data-course="Anatomi">Anatomi</li>
                        <li data-course="Fizyoloji">Fizyoloji</li>
                        <li data-course="Histoloji ve Embriyoloji">Histoloji ve Embriyoloji</li>
                        <li data-course="Biyokimya">Biyokimya</li>
                    </ul>
                </div>

                <div class="courses hidden" id="committee-4">
                    <ul>
                        <li data-course="Anatomi">Anatomi</li>
                        <li data-course="Fizyoloji">Fizyoloji</li>
                        <li data-course="Histoloji ve Embriyoloji">Histoloji ve Embriyoloji</li>
                        <li data-course="Biyokimya">Biyokimya</li>
                    </ul>
                </div>

                <div class="courses hidden" id="committee-5">
                    <ul>
                        <li data-course="Patoloji">Patoloji</li>
                        <li data-course="Farmakoloji">Farmakoloji</li>
                        <li data-course="Mikrobiyoloji">Mikrobiyoloji</li>
                        <li data-course="Biyokimya">Biyokimya</li>
                        <li data-course="Biyofizik">Biyofizik</li>
                    </ul>
                </div>
            </div>

            <div class="card" data-year="3">
                <h2>3. Sınıf</h2>
                <p><br>Bu sınıf için ders içeriği yüklenmedi!</p>
            </div>

            <div class="card">
                <h2>Anatomi</h2>
            </div>
            <div class="card">
                <h2>Fizyoloji</h2>
            </div>

            <div class="card">
                Yeni Eklenen içerikler...
            </div>

            <div class="card">
                <h2>İletişim </h2>
                <p><br>...</p>
            </div> --}}
            <div class="card">
                <h2><a href="/m1">Karbonhidrat Metabolizması</a></h2>
            </div>

            

        </div>
    </div>

    <script>
        const courseElements = document.querySelectorAll('.courses li');

        courseElements.forEach(course => {
            course.addEventListener('click', function () {
                // Tıklanan kartı bulmak için en yakın üst card'ı alıyoruz
                const cardElement = this.closest('.card');
                const year = cardElement.getAttribute('data-year');  // Yıl bilgisi dinamik olarak alınıyor

                // Komite bilgisi
                const committeeElement = this.closest('.courses');
                const committee = committeeElement.id.split('-')[1];  // committee-1 gibi id'den alıyoruz

                // Ders bilgisi
                const course = this.getAttribute('data-course');

                // Yeni sayfaya yönlendir
                const queryString = `?year=${encodeURIComponent(year)}&committee=${encodeURIComponent(committee)}&course=${encodeURIComponent(course)}`;
                window.location.href = `/articleListPage${queryString}`;
            });
        });
    </script>