<div class="card">

    <p>13 Aralık 2024 Cuma</p>
<p>&nbsp;</p>
<p><strong>Sindirim Sistemi Fizyolojisi</strong></p>
<p>&nbsp;</p>
<p>Sindirim sistemi, (1) v&uuml;cudun ihtiyacı olan suyu, elektrolitleri, temel besin maddelerini (protein, karbonhidrat, yağ), vitaminleri, mineralleri ve lifleri v&uuml;cuda alır; (2) bağışıklık sistemini destekler; (3) atık maddeleri v&uuml;cut dışına atar; (4) elektrolit ve su dengesi sağlar; (5) hormon &uuml;retir.<span class="Apple-converted-space">&nbsp;</span></p>
<p>Gastrointestinal sistemin bu işlevleri ger&ccedil;ekleştirdiği mekanizmaları şu şekilde sınıflandırabiliriz: (1) Gıdaların sindirim kanalında hareketi, (2) Sindirim sıvılarını salgılama, (3) Besinlerin sindirimi, (4) Sindirim &uuml;r&uuml;nlerinin emilimi, (5) Emilen maddelerin v&uuml;cuttaki taşınması i&ccedil;in gastrointestinal organlarda kanın dolaşımı, (6) Bu işlevlerin local, sinirsel ve hormonal kontrol&uuml;.</p>
<p>&nbsp;</p>
<p><strong> Gastrointestinal Kanaldaki D&uuml;z Kaslarının Bazı &Ouml;zellikleri</strong></p>
<p>&nbsp;</p>
<p><strong>Anatomisi : </strong>Gastrointestinal kanaldaki kasılmaları anlayabilmek i&ccedil;in &ouml;nce kanaldaki genel tabaka sıralamasının dıştan i&ccedil;e doğru seroza, muskularis eksterna (dış longitudinal ve i&ccedil; sirk&uuml;ler tabaka), submukoza, muskularis mukoza, mukoza olduğunu bilelim. *resim 1.0 <span class="Apple-converted-space">&nbsp;</span></p>
<p>resim 1.0resim 1.0</p>
<p>En dıştaki longitudinal (uzunlamasına) kaslar kasıldığında sindirim kanalının boyunu kısaltırlar, sirk&uuml;ler (dairesel) kaslar l&uuml;meni daraltırlar, muscularis mukozadaki kaslar ise mukoza tabasının yerel hareketini sağlar.<span class="Apple-converted-space">&nbsp;</span></p>
<p>&nbsp;</p>
<p><strong>Sinsityum İşlevi : </strong>D&uuml;z kaslar birbirleri arasında d&uuml;ş&uuml;k diren&ccedil; ile iyon ge&ccedil;işine izin veren <em>Yarık Bağlantılar (Gap Junction) </em>ile bağlılardırlar. B&ouml;ylece bir liften başlayan potansiyel dalgası etrafa doğru yayılır. Yayılma mesafesi ise temelde başlayan potansiyelin b&uuml;y&uuml;kl&uuml;ğ&uuml;ne ve yayıldığı kanal b&ouml;lgesinin uyarılabilirliğine bağlıdır.</p>
<p>&nbsp;</p>
<p><strong>D&uuml;zenli Elektriksel Ritim : </strong>Gastrointestinal kanalda belirli b&ouml;lgelerde yoğunlaşmış olan ve <em>Cajal&rsquo;ın İnterstisyel H&uuml;creleri (Interstitial Cells of Cajal - ICC) </em>adı verilen bir h&uuml;cre grubu, enterik sinir sistemi ile d&uuml;z kas h&uuml;creleri arasında yerleşmiştir. Bu h&uuml;creler kanalda ritmik ve frekansı kanalın b&ouml;lgesine g&ouml;re değişen, dakikada 3 ila 12 uyarı oluşturur. Uyarılar, sinsityumlar ile kanalda yayılır. (bazı kaynaklarda bu ritmik uyarı oluşturma mekanizması tam olarak anlaşılamamıştır diyor.) Bu ritmik uyarıların oluşturduğu potansiyel dalgalanmalara <em>Yavaş Dalgalar </em>denir.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><span class="Apple-converted-space">&nbsp;</span></p>
<p>&nbsp;</p>
<img src="/images/img1.jpg" alt="">
<p>&nbsp;</p>
<p>* zaman-zar potansiyeli(milivolt cinsinden) grafiği. Dinlenme (resting), Gerim-Asetilkolin-Parasempatikler tarafından uyarılma durumu, Norepinefrin-Sempatikler tarafından uyarılma durumları g&ouml;sterilmiş.</p>
<p>&nbsp;</p>
<p>Resim 2.0&rsquo;da g&ouml;r&uuml;ld&uuml;ğ&uuml; gibi oluşan bu yavaş dalgalar dinlenme durumunda zar potansiyelini eşik değerin &uuml;zerine &ccedil;ıkaramadıkları ve h&uuml;cre i&ccedil;ine sadece sodyum iyonu girişi oluşturdukları i&ccedil;in (aksiyon potansiyeli oluşurken kalsiyum iyonları da h&uuml;cre i&ccedil;ine girer.) bir aksiyon potansiyeli oluşturmazlar. Fakat grafikte de g&ouml;z&uuml;kt&uuml;ğ&uuml; gibi zar potansiyelini pozitif y&ouml;nde etkileyen yani depolarize eden fakt&ouml;rler (bunlar : kasın gerilmesi, parasempatik sinir ucundan asetilkolin salgılanması ya da bazı gastrointestinal hormonlar olabilir.) buradaki d&uuml;z kasların dinlenim potansiyeli olan -56 milivolt değerini, yavaş dalgaların tepelerinde, yaklaşık -40 milivolt olan eşik değerin &uuml;zerine &ccedil;ıkarmaya başlarlar. Dalgaların bu eşik değerin &uuml;zerine &ccedil;ıktığı yerlerde 10-20 milisaniye s&uuml;ren ve <em>Dikensi Potansiyeller </em>denen aksiyon potansiyelleri oluşur. Zarın potansiyeli ne kadar pozitif hale gelirse, yavaş dalganın daha b&uuml;y&uuml;k (yani daha uzun s&uuml;reli) bir kısmı eşik değerin &uuml;zerinde kalır ve dalganın tepesinde oluşan dikensi potansiyel sayısı artar. Hatta bazen daha fazla uyarım, yavaş dalgalara ihtiya&ccedil; duymadan tonik kasılmalar oluşturabilir. Bunun tersine, zar potansiyelini daha da negatif y&ouml;nde etkileyen yani hiperpolarize eden fakt&ouml;rler (bunlar : sinir ucundan noradrenalin salgılanması, noradrenalin-adrenalin hormonları olabilir.) dalgayı eşik değerin altına iter ve dikensi potansiyel oluşumunu azaltır veya yok eder.</p>
<p>Ayrıca gastrointestinal d&uuml;z kaslarda aksiyon potansiyeli oluşumunda, sarkoplazmik retikulumdaki kalsiyumlara ek olarak h&uuml;cre dışından giren kalsiyumlarında kasılamaya yardımcı olduğunu ve kalsiyum girişi oluşturan kalsiyum-sodyum kanallarının yavaş dalga potansiyellerinde aktif olmadıklarını yani yavaş dalgalarda h&uuml;cre i&ccedil;ine kalsiyum girişi olmadığını unutmayın.</p>
<p><span class="Apple-converted-space">&nbsp;</span></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>T&uuml;m bu işlevler i&ccedil;in sistem, gastrointestinal kanal (sindirim kanalı) &ldquo;sırasıyla: ağız (oris), yutak (farinks), yemek borusu (&ouml;zofagus), mide, ince bağırsak, kalın bağırsak&rdquo; ve yardımcı organlardan &ldquo;karaciğer (hepar), safra kesesi, pankreas&rdquo; oluşur.</p>
<p>*resimde t&uuml;m sindirim kanalı ve organları g&ouml;sterilmiştir.<span class="Apple-converted-space">&nbsp;</span></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</div>